<h1 id="header">
    Get LiftRocket
</h1>
<div>
    <p style="font-size:15px">
        Having LiftRocket on your device is the easiest way to send and receive Lifts and be in
        touch with members of your community. Enter your number below and we'll text you a
        download link for the native mobile application.
    </p>
</div>
<br>
<br>
<div class="inputSec">
    <p><b>We'll send you a text</b></p>
    <label for="number"></label>
    <input type="text" value="Phone Number" name="number" #number>
    <br>
    <br>
    <button class="sendLink" (click)="sendTheLink(number)">Send Link</button>
</div>

<p>
    To get the app either:
</p>
<hr>
<ul>
    <li>Open up your device's web browser and visit <a href="https://www.liftrocket.com/get">liftrocket.com/get</a></li>
    <br>
    <li>Search for 'LiftRocket' in the Apple, Google, or Amazon app stores</li>
    <br>
    <li>Text Yourself the download link by entering your phone number above</li>
</ul>



